/**STYLING FOR lab08.html, by Emilio Ditrocchio and William Loftus**/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Roboto');

body {
  margin: 0;
  overflow-x: hidden;
}
#content {
  font-family: 'Roboto', sans-serif;
  color: white;
}
.stretch {width: 100%;}
.thin {height: 25px;}
a {
  text-decoration: none;
  color: white;
}
header {
  background-color: black;
  font-size:12pt;
  padding: 10px;
}
header a {margin: 10px;}
#location {display: none;}
header h3 {display: none;}
#contact {
  float: right;
  margin-right: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-color: darkred;
}
nav {
  height: 30px;
  background-color: white;
}
#logo img {
  display: inline-block;
  margin: 4px 0 0 10px;
  width: 40px;
  height: 45px;
  border: solid 2px red;
  border-radius: 5%;
}
#logo {
  display: inline-flex;
}
#logo span {
  margin-left: 20px;
  line-height: 60px;
  font-size: 18pt;
  font-weight: bold;
  color: red;
}
#bottomFigBar {
  height: 40px;
  background-color: red;
  text-align: center;
}
.option {
  line-height: 40px;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 5px;
}
.option:hover {
  border-bottom: solid 4px black;
}
.option:active {
  border-bottom: solid 4px white;
}
section {background-color: grey;}
#option3 {
  margin: 10px 0 0 10px;
  padding-left: 5px;
  cursor: pointer;
}
#bottomWrap {font-family: 'Roboto', sans-serif;}
#defaultText {text-align: center;}
h2 {
  font-size: 36pt;
  font-weight: bold;
}
#defaultText p {
  margin: 10px 150px;
  font-size: 18pt;
}
figure {text-align: center;}
figure img {
  border: solid black 4px;
  border-radius: 20%;
}
#pic {
  height: 600px;
  background-image: url("../img/Gym-Black-White-Photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#gymPicContent {
  margin-left: 100px;
  width: 30%;
}
#gymPicContent div {
  width: 100%;
  position: relative;
  transform: translate(0,150px);
  height: 300px;
  color: white;
}
#gymPicContent h1 {
  font-weight: bold;
  font-size: 36pt;
  margin-bottom: 0;
}
#gymPicContent p {
  font-size: 12pt;
  margin-top: 5px;
}
.button {
  font-weight: bold;
  padding: 10px;
  width: 120px;
}
#cured {
  color: white;
  background-color: red;
  margin: 0 10px 0 10px;
}
section {
  margin: 0 auto;
  background-color: white;
  width: 80%;
}
#htmlList, #jsonList {
  font-size: 24pt;
  margin-left: 100px;
}
#jsonList h2 {margin-left: 5%;}
#htmlList h2 {margin-left: 20%;}
#htmlList ol {
  list-style-type: upper-roman;
  font-size: 28pt;
  margin-left: 33%;
}
ol li {margin-top: 20px;}
ol {margin-left: 15%;}

@media only screen and (min-width: 400px) {
  figure img {
    width: 300px;
    height: 300px;
  }
  .pictureText {
    position: absolute;
    top: 180px;
    left: 135px;
    text-align: center;
  }
  #gymPicContent button {
    margin: 0;
  }
}

@media only screen and (min-width: 800px) {
  figure img {
    width: 350px;
    height: 350px;
    margin: 20px;
  }
  #bottomFigBar a {
    padding: 0 20px 0 20px;
  }
}

@media only screen and (min-width: 1270px) {
  figure img {
    width: 500px;
    height: 500px;
    margin: 50px;
  }
  #bottomFigBar a {
    margin-right: 50px;
  }
}
